Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data = pd.read_csv(r"C:\Users\HOME\Desktop\Data Projects\creditcard.csv")

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [6]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [7]:

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:

# compare the value for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [9]:

legit_sample = legit.sample(n=492)

In [ ]:

 new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [11]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
94814,65043.0,-0.696510,0.824242,1.443418,0.244203,0.189246,0.059848,0.821284,0.181052,-0.263228,...,0.084756,0.296265,-0.116150,0.204755,-0.191346,-0.574598,0.023722,0.128275,35.61,0
144073,85846.0,-2.177707,-0.351491,0.550691,0.657101,0.126729,1.228272,-1.358353,1.342643,0.051672,...,0.088024,-0.014710,-0.507433,-1.626679,-0.520955,0.472939,-0.201100,-0.295720,4.99,0
203518,134852.0,-0.213641,-0.124645,-0.988507,-1.032947,2.253241,2.338071,0.271417,0.658730,-0.005230,...,0.474282,1.429236,-0.101537,-2.005569,-0.532869,0.601405,-0.056406,0.065847,55.75,0
60034,49125.0,1.216640,0.343542,0.304374,0.767790,-0.417346,-1.453941,0.427200,-0.409374,-0.305495,...,-0.000918,0.046529,-0.020632,0.984037,0.529136,0.329346,-0.046991,0.016357,19.95,0
97324,66164.0,-2.995545,-1.075435,1.652044,-0.694830,-0.101411,-0.047286,-0.325968,0.454199,0.974682,...,-0.253494,-0.130278,0.081803,0.095391,-0.150933,0.750724,-0.567607,0.255835,63.35,0

In [12]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98925.884146,0.088121,-0.089797,-0.063447,-0.058589,-0.075904,0.086935,-0.033419,-0.131406,-0.008902,...,-0.026407,-0.072963,0.009519,0.019810,0.001791,0.012800,-0.015975,-0.004781,0.024029,91.603130
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Spliting the data into Features & Targets

In [13]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [14]:

print(X)

            Time        V1        V2        V3        V4        V5        V6  \
94814    65043.0 -0.696510  0.824242  1.443418  0.244203  0.189246  0.059848
144073   85846.0 -2.177707 -0.351491  0.550691  0.657101  0.126729  1.228272
203518  134852.0 -0.213641 -0.124645 -0.988507 -1.032947  2.253241  2.338071
60034    49125.0  1.216640  0.343542  0.304374  0.767790 -0.417346 -1.453941
97324    66164.0 -2.995545 -1.075435  1.652044 -0.694830 -0.101411 -0.047286
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
94814   0.821284  0.181052 -0.263228  ... -0.313861  0.084756  0.296265
144073 -1.358353  1.342643  0.051672  ... -0.158058  0.088024 -0.014710
203518  0.271417  0.658730 -0.005230  ... -0.280248  0.474282  1.429236
60034   0.427200 -0.409374 -0.305495  ... -0.027805 -0.000918  0.046529
97324  -0.325968  0.454199  0.974682  ... -0.522385 -0.253494 -0.130278
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
94814  -0.116150  0.204755 -0.191346 -0.574598  0.023722  0.128275   35.61
144073 -0.507433 -1.626679 -0.520955  0.472939 -0.201100 -0.295720    4.99
203518 -0.101537 -2.005569 -0.532869  0.601405 -0.056406  0.065847   55.75
60034  -0.020632  0.984037  0.529136  0.329346 -0.046991  0.016357   19.95
97324   0.081803  0.095391 -0.150933  0.750724 -0.567607  0.255835   63.35
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [15]:

print(Y)

94814     0
144073    0
203518    0
60034     0
97324     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing data

In [16]:

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [17]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [ ]:
Model Training
Logistic Regression

In [18]:
model = LogisticRegression()

In [19]:

# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

C:\Users\HOME\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [20]:

# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [21]:

print('Accuracy on training data: ', training_data_accuracy)

Accuracy on training data:  0.9390088945362135

In [22]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [23]:

print('Accuracy score on Test Data: ', test_data_accuracy)

Accuracy score on Test Data:  0.9289340101522843